# Directories
/.wordpress-org export-ignore
/.github export-ignore
/assets/admin/sass export-ignore
/assets/common/libs/fontawesome/scss export-ignore
/assets/common/sass export-ignore
/assets/frontend/sass export-ignore

# Files
/.editorconfig export-ignore
/.gitattributes export-ignore
/.composer.json export-ignore
/.gitignore export-ignore
/gulpfile.js export-ignore
/phpcs.xml export-ignore
/README.md export-ignore
