.jb.jb-ui-xs .jb-responsive:not(.jb-ui-xs) {
  display: none !important; }

.jb.jb-ui-s .jb-responsive:not(.jb-ui-s) {
  display: none !important; }

.jb.jb-ui-m .jb-responsive:not(.jb-ui-m) {
  display: none !important; }

.jb.jb-ui-l .jb-responsive:not(.jb-ui-l) {
  display: none !important; }

.jb.jb-ui-xl .jb-responsive:not(.jb-ui-xl) {
  display: none !important; }

.wp-block {
  position: relative; }

#wp-admin-bar-jb_edit_job > .ab-item .ab-icon:before {
  content: "\f464";
  top: 2px; }

.jb-button {
  text-align: center;
  padding: 11px 20px;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  color: #a3a3a3;
  background-color: transparent;
  border: 1px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .jb-button.jb-primary-button {
    height: 52px;
    border-radius: 26px;
    padding: 12px 20px;
    background-color: #266cf9;
    color: #fff;
    border: 0 solid transparent; }
    .jb-button.jb-primary-button:hover {
      background-color: #0f5df9;
      color: #fff; }

a.jb-button {
  color: #a3a3a3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: none; }
  a.jb-button:hover, a.jb-button:focus, a.jb-button:active {
    color: #a3a3a3; }
  a.jb-button.jb-primary-button {
    color: #fff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: none; }
    a.jb-button.jb-primary-button:hover, a.jb-button.jb-primary-button:focus, a.jb-button.jb-primary-button:active {
      color: #fff; }

.jb-user-avatar {
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  border-radius: 100%; }
  .jb-user-avatar.jb-inline {
    display: inline; }
  .jb-user-avatar.jb-block {
    display: block; }

@-webkit-keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.jb-ajax-loading {
  color: #c6c6c6;
  -webkit-transition: 0.1s opacity;
  -moz-transition: 0.1s opacity;
  -ms-transition: 0.1s opacity;
  -o-transition: 0.1s opacity;
  transition: 0.1s opacity;
  -webkit-animation: jb-ajax-spinning 1.1s infinite linear;
  animation: jb-ajax-spinning 1.1s infinite linear;
  border-style: solid;
  border-top-color: rgba(198, 198, 198, 0.2);
  border-right-color: rgba(198, 198, 198, 0.2);
  border-bottom-color: rgba(198, 198, 198, 0.2);
  border-left-color: #c6c6c6;
  filter: alpha(opacity=0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 50%;
  display: block;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }
