.jb-dropdown {
  font-size: 16px;
  margin: 0;
  position: absolute;
  height: auto;
  background: #fff;
  z-index: 10;
  display: none;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }
  .jb-dropdown ul {
    margin: 0 !important;
    padding: 0 !important; }
    .jb-dropdown ul li {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .jb-dropdown ul li a {
        display: block;
        padding: 8px 12px;
        font-size: 0.8em;
        line-height: 1;
        color: #000;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: none; }
        .jb-dropdown ul li a:hover, .jb-dropdown ul li a:focus, .jb-dropdown ul li a:active {
          color: rgba(0, 0, 0, 0.8); }

.jb-dropdown-arr {
  position: absolute;
  font-size: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 15;
  color: #eee; }
  .jb-dropdown-arr * {
    display: block;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    overflow: hidden;
    line-height: 24px; }
