.jb .jb-job-breadcrumbs {
  font-size: 14px;
  padding: 0 0 15px 0; }

.jb .jb-job-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 14px;
  padding: 0 0 15px 0; }
  .jb .jb-job-info .jb-job-info-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%; }
    .jb .jb-job-info .jb-job-info-row .jb-job-types {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: wrap;
      width: 100%; }
      .jb .jb-job-info .jb-job-info-row .jb-job-types .jb-job-type {
        font-size: 12px;
        font-weight: bold;
        padding: 5px 9px;
        border: 0;
        border-radius: 3px; }
        .jb .jb-job-info .jb-job-info-row .jb-job-types .jb-job-type:not(:first-child) {
          margin: 0 0 0 5px; }
    .jb .jb-job-info .jb-job-info-row:not(:first-child) {
      margin: 5px 0 0 0; }
    .jb .jb-job-info .jb-job-info-row.jb-job-info-row-first > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      margin: 0 20px 5px 0; }
      .jb .jb-job-info .jb-job-info-row.jb-job-info-row-first > div i {
        margin: 0 5px 0 0;
        color: #909090; }

.jb .jb-job-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
  .jb .jb-job-company .jb-job-company-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    min-width: calc( 80% - 10px);
    margin: 0 10px 0 0; }
    .jb .jb-job-company .jb-job-company-info .jb-job-logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      width: 60px;
      margin: 0 20px 0 0; }
      .jb .jb-job-company .jb-job-company-info .jb-job-logo .jb-job-company-logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        border: 0;
        overflow: hidden; }
        .jb .jb-job-company .jb-job-company-info .jb-job-logo .jb-job-company-logo-wrapper .jb-job-company-logo {
          object-fit: fill;
          width: 60px;
          height: auto; }
    .jb .jb-job-company .jb-job-company-info .jb-job-company-title-tagline {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap; }
      .jb .jb-job-company .jb-job-company-info .jb-job-company-title-tagline .jb-job-company-name {
        font-size: 16px; }
      .jb .jb-job-company .jb-job-company-info .jb-job-company-title-tagline .jb-job-company-tagline {
        font-style: italic;
        font-size: 14px; }
    .jb .jb-job-company .jb-job-company-info.jb-job-no-logo .jb-job-company-title-tagline {
      width: 100%;
      margin: 0; }
  .jb .jb-job-company .jb-job-company-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 20%; }
    .jb .jb-job-company .jb-job-company-links a {
      font-size: 16px;
      width: 30px;
      height: 30px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      text-align: center;
      line-height: 30px;
      color: #000; }
      .jb .jb-job-company .jb-job-company-links a:hover, .jb .jb-job-company .jb-job-company-links a:active {
        color: rgba(0, 0, 0, 0.8); }
      .jb .jb-job-company .jb-job-company-links a:visited {
        color: #000; }
      .jb .jb-job-company .jb-job-company-links a:not(:last-child) {
        margin: 0 5px 0 0; }

.jb .jb-job-filled-notice, .jb .jb-job-expired-notice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px;
  background: #fbf3f1;
  color: #b6312f;
  border-radius: 5px;
  border: none; }
  .jb .jb-job-filled-notice i, .jb .jb-job-expired-notice i {
    margin: 0 10px 0 0; }

.jb .jb-job-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 15px 0 0 0; }
  .jb .jb-job-footer .jb-job-footer-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 100%; }
    .jb .jb-job-footer .jb-job-footer-row:not(:first-child) {
      margin: 5px 0 0 0; }
    .jb .jb-job-footer .jb-job-footer-row .jb-job-apply-wrapper .jb-job-apply-description {
      display: none; }
    .jb .jb-job-footer .jb-job-footer-row .jb-job-after-apply-wrapper {
      padding: 0 0 0 10px; }

.jb.jb-ui-xs .jb-job-company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap; }
  .jb.jb-ui-xs .jb-job-company .jb-job-company-info {
    width: 100%;
    min-width: auto;
    margin: 0 0 10px 0; }
  .jb.jb-ui-xs .jb-job-company .jb-job-company-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 100%;
    max-width: none; }

.jb-single-job-wrapper {
  margin-bottom: 20px; }
  .jb-single-job-wrapper .jb-job-title-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0; }
    .jb-single-job-wrapper .jb-job-title-info .jb-job-title {
      width: 100%;
      margin: 0 0 10px 0; }
    .jb-single-job-wrapper .jb-job-title-info .jb-job-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      width: 100%;
      font-size: 14px;
      padding: 0 0 15px 0; }
      .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        width: 100%; }
        .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row .jb-job-types {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: wrap;
          width: 100%; }
          .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row .jb-job-types .jb-job-type {
            font-size: 12px;
            font-weight: bold;
            padding: 5px 9px;
            border: 0;
            border-radius: 3px; }
            .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row .jb-job-types .jb-job-type:not(:first-child) {
              margin: 0 0 0 5px; }
        .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row:not(:first-child) {
          margin: 5px 0 0 0; }
        .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row.jb-job-info-row-first > div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: nowrap;
          margin: 0 20px 5px 0; }
          .jb-single-job-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row.jb-job-info-row-first > div i {
            margin: 0 5px 0 0;
            color: #909090; }
  .jb-single-job-wrapper .jb-job-company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd; }
    .jb-single-job-wrapper .jb-job-company .jb-job-company-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      min-width: calc( 80% - 10px);
      margin: 0 10px 0 0; }
      .jb-single-job-wrapper .jb-job-company .jb-job-company-info .jb-job-logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: 60px;
        margin: 0 20px 0 0; }
        .jb-single-job-wrapper .jb-job-company .jb-job-company-info .jb-job-logo .jb-job-company-logo-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          border: 0;
          overflow: hidden; }
          .jb-single-job-wrapper .jb-job-company .jb-job-company-info .jb-job-logo .jb-job-company-logo-wrapper .jb-job-company-logo {
            object-fit: fill;
            width: 60px;
            height: auto; }
      .jb-single-job-wrapper .jb-job-company .jb-job-company-info .jb-job-company-title-tagline {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap; }
        .jb-single-job-wrapper .jb-job-company .jb-job-company-info .jb-job-company-title-tagline .jb-job-company-name {
          font-size: 16px; }
        .jb-single-job-wrapper .jb-job-company .jb-job-company-info .jb-job-company-title-tagline .jb-job-company-tagline {
          font-style: italic;
          font-size: 14px; }
      .jb-single-job-wrapper .jb-job-company .jb-job-company-info.jb-job-no-logo .jb-job-company-title-tagline {
        width: 100%;
        margin: 0; }
    .jb-single-job-wrapper .jb-job-company .jb-job-company-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
      max-width: 20%; }
      .jb-single-job-wrapper .jb-job-company .jb-job-company-links a {
        font-size: 16px;
        width: 30px;
        height: 30px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        text-align: center;
        line-height: 30px;
        color: #000; }
        .jb-single-job-wrapper .jb-job-company .jb-job-company-links a:hover, .jb-single-job-wrapper .jb-job-company .jb-job-company-links a:active {
          color: rgba(0, 0, 0, 0.8); }
        .jb-single-job-wrapper .jb-job-company .jb-job-company-links a:visited {
          color: #000; }
        .jb-single-job-wrapper .jb-job-company .jb-job-company-links a:not(:last-child) {
          margin: 0 5px 0 0; }
  .jb-single-job-wrapper .jb-job-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0 0 0; }
    .jb-single-job-wrapper .jb-job-content .jb-job-filled-notice, .jb-single-job-wrapper .jb-job-content .jb-job-expired-notice {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%;
      margin: 15px 0;
      padding: 10px 15px;
      background: #fbf3f1;
      color: #b6312f;
      border-radius: 5px;
      border: none; }
      .jb-single-job-wrapper .jb-job-content .jb-job-filled-notice i, .jb-single-job-wrapper .jb-job-content .jb-job-expired-notice i {
        margin: 0 10px 0 0; }
    .jb-single-job-wrapper .jb-job-content .jb-job-content-separator {
      width: 100%;
      font-weight: bold;
      margin: 0 0 15px 0; }
      .jb-single-job-wrapper .jb-job-content .jb-job-content-separator:not(:first-child) {
        margin: 15px 0; }
    .jb-single-job-wrapper .jb-job-content .jb-job-content-section {
      width: 100%; }
  .jb-single-job-wrapper .jb-job-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px 0 0 0; }
    .jb-single-job-wrapper .jb-job-footer .jb-job-footer-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%; }
      .jb-single-job-wrapper .jb-job-footer .jb-job-footer-row:not(:first-child) {
        margin: 5px 0 0 0; }
      .jb-single-job-wrapper .jb-job-footer .jb-job-footer-row .jb-job-apply-wrapper .jb-job-apply-description {
        display: none; }
      .jb-single-job-wrapper .jb-job-footer .jb-job-footer-row .jb-job-after-apply-wrapper {
        padding: 0 0 0 10px; }
  .jb-single-job-wrapper.jb-ui-xs .jb-job-company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap; }
    .jb-single-job-wrapper.jb-ui-xs .jb-job-company .jb-job-company-info {
      width: 100%;
      min-width: auto;
      margin: 0 0 10px 0; }
    .jb-single-job-wrapper.jb-ui-xs .jb-job-company .jb-job-company-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%;
      max-width: none; }
