.wp-block {
  position: relative; }

.jb-jobs-widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
  font-size: 14px; }
  .jb-jobs-widget .jb-job-list-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #dddddd; }
    .jb-jobs-widget .jb-job-list-row:first-child {
      border-top: 1px solid #dddddd; }
    .jb-jobs-widget .jb-job-list-row .jb-job-logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      width: 60px;
      margin: 0 20px 0 0; }
      .jb-jobs-widget .jb-job-list-row .jb-job-logo .jb-job-company-logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        border: 0;
        overflow: hidden; }
        .jb-jobs-widget .jb-job-list-row .jb-job-logo .jb-job-company-logo-wrapper .jb-job-company-logo {
          object-fit: fill;
          width: 60px !important;
          height: auto !important; }
    .jb-jobs-widget .jb-job-list-row .jb-row-data {
      width: calc( 100% - 80px);
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap; }
      .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-job-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0; }
        .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line {
          margin: 0 15px 10px 0; }
          .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line .jb-job-title-link {
            font-weight: bold;
            font-size: 16px;
            overflow: auto; }
        .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-job-title .jb-job-types {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: wrap;
          margin: 0 0 10px 0; }
          .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-job-title .jb-job-types .jb-job-type {
            font-size: 12px;
            font-weight: bold;
            padding: 5px 9px;
            border: 0;
            border-radius: 3px; }
            .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-job-title .jb-job-types .jb-job-type:not(:first-child) {
              margin: 0 0 0 5px; }
      .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
        width: 100%; }
        .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-left-side {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: wrap;
          max-width: calc( 85% - 10px);
          margin: 0 10px 0 0; }
          .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-left-side > div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            flex-wrap: nowrap;
            margin: 0 20px 5px 0; }
            .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-left-side > div i {
              color: #909090;
              margin: 0 5px 0 0; }
        .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: baseline;
          flex-wrap: nowrap;
          max-width: 15%; }
          .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .date {
            font-size: 12px;
            color: #888888; }
          .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-types {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            flex-wrap: wrap;
            margin: 0 0 10px 0; }
            .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-types .jb-job-type {
              font-size: 12px;
              font-weight: bold;
              padding: 5px 9px;
              border: 0;
              border-radius: 3px; }
              .jb-jobs-widget .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-types .jb-job-type:not(:first-child) {
                margin: 0 0 0 5px; }
    .jb-jobs-widget .jb-job-list-row .jb-row-actions {
      margin: 0 0 0 10px; }
    .jb-jobs-widget .jb-job-list-row.jb-job-list-no-logo .jb-row-data {
      width: 100%; }
    .jb-jobs-widget .jb-job-list-row.jb-job-list-no-logo.jb-job-list-with-actions .jb-row-data {
      width: calc( 100% - 60px); }
    .jb-jobs-widget .jb-job-list-row.jb-job-list-with-actions {
      align-items: center; }
      .jb-jobs-widget .jb-job-list-row.jb-job-list-with-actions:not(.jb-job-list-no-logo) .jb-row-data {
        width: calc( 100% - 140px); }
  .jb-jobs-widget.jb-ui-xs .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line, .jb-jobs-widget.jb-ui-s .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line {
    width: 100%;
    margin: 0 0 10px 0; }
  .jb-jobs-widget.jb-ui-xs .jb-job-list-row .jb-row-info, .jb-jobs-widget.jb-ui-s .jb-job-list-row .jb-row-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap; }
    .jb-jobs-widget.jb-ui-xs .jb-job-list-row .jb-row-info .jb-row-left-side, .jb-jobs-widget.jb-ui-s .jb-job-list-row .jb-row-info .jb-row-left-side {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 5px 0;
      max-width: none; }
    .jb-jobs-widget.jb-ui-xs .jb-job-list-row .jb-row-info .jb-row-right-side, .jb-jobs-widget.jb-ui-s .jb-job-list-row .jb-row-info .jb-row-right-side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      width: 100%;
      margin: 0 0 10px 0;
      max-width: none; }
