.wp-block {
  position: relative; }

@-webkit-keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes jb-ajax-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.jb-jobs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
  font-size: 14px; }
  .jb-jobs .jb-overlay {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: none;
    z-index: 2; }
    .jb-jobs .jb-overlay .jb-ajax-loading {
      -webkit-transition: 0.1s opacity;
      -moz-transition: 0.1s opacity;
      -ms-transition: 0.1s opacity;
      -o-transition: 0.1s opacity;
      transition: 0.1s opacity;
      color: #c6c6c6 !important;
      -webkit-animation: jb-ajax-spinning 1.1s infinite linear;
      animation: jb-ajax-spinning 1.1s infinite linear;
      border-top: 0.2em solid rgba(198, 198, 198, 0.2);
      border-right: 0.2em solid rgba(198, 198, 198, 0.2);
      border-bottom: 0.2em solid rgba(198, 198, 198, 0.2);
      border-left: .2em solid #c6c6c6;
      font-size: 1.75em;
      position: absolute;
      left: calc(50% - 1.75em);
      top: calc(50% - 1.75em);
      filter: alpha(opacity=0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      border-radius: 50%;
      display: block;
      width: 2.5em;
      height: 2.5em;
      margin: 0;
      outline: 0;
      padding: 0;
      vertical-align: baseline; }
  .jb-jobs .jb-jobs-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 0 10px 0; }
    .jb-jobs .jb-jobs-header .jb-jobs-header-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%; }
      .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0 0 10px 0; }
        .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line label {
          flex: 2;
          margin: 0 10px 0 0;
          min-width: 90px;
          max-width: 42%; }
          .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line label span {
            display: none;
            margin: 0 5px 0 0; }
          .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line label .jb-search-line {
            -webkit-appearance: textfield;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box; }
        .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line .jb-do-search {
          min-width: 15%;
          width: auto; }
      .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-filters-row {
        flex-wrap: wrap; }
        .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-filters-row label {
          margin: 0 10px 7px 0; }
        .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-filters-row.jb-salary-filters-row {
          justify-content: space-between;
          column-gap: 7px; }
          .jb-jobs .jb-jobs-header .jb-jobs-header-row.jb-jobs-filters-row.jb-salary-filters-row label {
            margin-left: 0;
            margin-right: 0; }
  .jb-jobs .jb-jobs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 0 0 15px 0; }
    .jb-jobs .jb-jobs-wrapper.jb-no-jobs {
      align-items: center; }
    .jb-jobs .jb-jobs-wrapper .jb-job-list-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 100%;
      padding: 15px 0;
      margin: 0;
      border-bottom: 1px solid #dddddd; }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row:first-child {
        border-top: 1px solid #dddddd; }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-job-logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: 60px;
        margin: 0 20px 0 0; }
        .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-job-logo .jb-job-company-logo-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          text-align: center;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          border: 0;
          overflow: hidden; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-job-logo .jb-job-company-logo-wrapper .jb-job-company-logo {
            object-fit: fill;
            width: 60px;
            height: auto; }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data {
        width: calc( 100% - 80px);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap; }
        .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          flex-wrap: wrap;
          width: 100%;
          margin: 0; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-end {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: nowrap;
            gap: 5px; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line {
            margin: 0 15px 10px 0; }
            .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line .jb-job-title-link {
              font-weight: bold;
              font-size: 16px;
              overflow: auto; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-featured {
            font-size: 12px;
            font-weight: bold;
            padding: 5px 9px;
            border-radius: 3px;
            background: #eaecf0;
            color: #344054;
            margin: 0 0 10px 0; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-types {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            flex-wrap: wrap;
            margin: 0 0 10px 0; }
            .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-types .jb-job-type {
              font-size: 12px;
              font-weight: bold;
              padding: 5px 9px;
              border: 0;
              border-radius: 3px; }
              .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-types .jb-job-type:not(:first-child) {
                margin: 0 0 0 5px; }
        .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          flex-wrap: nowrap;
          width: 100%; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-left-side {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            flex-wrap: wrap;
            max-width: calc( 85% - 10px);
            margin: 0 10px 0 0; }
            .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-left-side > div {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: baseline;
              flex-wrap: nowrap;
              margin: 0 20px 5px 0; }
              .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-left-side > div i {
                color: #909090;
                margin: 0 5px 0 0; }
          .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            flex-wrap: nowrap;
            max-width: 15%; }
            .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .date {
              font-size: 12px;
              color: #888888; }
            .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-featured {
              font-size: 12px;
              font-weight: bold;
              padding: 5px 9px;
              border-radius: 3px;
              background: #eaecf0;
              color: #344054; }
            .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-types {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: baseline;
              flex-wrap: wrap;
              margin: 0; }
              .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-types .jb-job-type {
                font-size: 12px;
                font-weight: bold;
                padding: 5px 9px;
                border: 0;
                border-radius: 3px; }
                .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-row-info .jb-row-right-side .jb-job-types .jb-job-type:not(:first-child) {
                  margin: 0 0 0 5px; }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row .jb-row-actions {
        margin: 0 0 0 10px; }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row.jb-job-list-no-logo .jb-row-data {
        width: 100%; }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row.jb-job-list-no-logo.jb-job-list-with-actions .jb-row-data {
        width: calc( 100% - 60px); }
      .jb-jobs .jb-jobs-wrapper .jb-job-list-row.jb-job-list-with-actions {
        align-items: center; }
        .jb-jobs .jb-jobs-wrapper .jb-job-list-row.jb-job-list-with-actions:not(.jb-job-list-no-logo) .jb-row-data {
          width: calc( 100% - 140px); }
  .jb-jobs .jb-jobs-pagination-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap; }
  .jb-jobs.jb-ui-xs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line, .jb-jobs.jb-ui-s .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 0 10px 0; }
    .jb-jobs.jb-ui-xs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line label, .jb-jobs.jb-ui-s .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line label {
      width: 100%;
      margin: 0 0 10px 0;
      min-width: auto;
      max-width: none; }
    .jb-jobs.jb-ui-xs .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line .jb-do-search, .jb-jobs.jb-ui-s .jb-jobs-header .jb-jobs-header-row.jb-jobs-search-row .jb-jobs-search-line .jb-do-search {
      width: 100%;
      min-width: auto; }
  .jb-jobs.jb-ui-xs .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line, .jb-jobs.jb-ui-s .jb-jobs-wrapper .jb-job-list-row .jb-row-data .jb-job-title .jb-job-title-link-line {
    width: 100%;
    margin: 0 0 10px 0; }
  .jb-jobs.jb-ui-xs .jb-jobs-wrapper .jb-job-list-row .jb-row-info, .jb-jobs.jb-ui-s .jb-jobs-wrapper .jb-job-list-row .jb-row-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap; }
    .jb-jobs.jb-ui-xs .jb-jobs-wrapper .jb-job-list-row .jb-row-info .jb-row-left-side, .jb-jobs.jb-ui-s .jb-jobs-wrapper .jb-job-list-row .jb-row-info .jb-row-left-side {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 5px 0;
      max-width: none; }
    .jb-jobs.jb-ui-xs .jb-jobs-wrapper .jb-job-list-row .jb-row-info .jb-row-right-side, .jb-jobs.jb-ui-s .jb-jobs-wrapper .jb-job-list-row .jb-row-info .jb-row-right-side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      width: 100%;
      margin: 0;
      max-width: none; }
      .jb-jobs.jb-ui-xs .jb-jobs-wrapper .jb-job-list-row .jb-row-info .jb-row-right-side .jb-row-right-side-line, .jb-jobs.jb-ui-s .jb-jobs-wrapper .jb-job-list-row .jb-row-info .jb-row-right-side .jb-row-right-side-line {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 5px; }

.select2-dropdown .select2-results .select2-results__options .select2-results__option {
  margin: 0; }

.jb-salary-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%; }
  .jb-salary-filter .jb-double-range {
    position: relative;
    width: 100%;
    height: 18px;
    text-align: center; }
    .jb-salary-filter .jb-double-range input[type="range"] {
      pointer-events: none;
      position: absolute;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      border: none;
      border-radius: 14px;
      background: #F1EFEF;
      box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
      -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
      overflow: hidden;
      left: 0;
      width: 100%;
      outline: none;
      height: 14px;
      margin: 0;
      padding: 0; }
    .jb-salary-filter .jb-double-range input[type="range"]::-webkit-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      outline: 0;
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      border: none;
      border-radius: 14px;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
      background-image: -webkit-linear-gradient(top, #dad8da 0, #413F41 100%);
      background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%); }
    .jb-salary-filter .jb-double-range input[type="range"]::-moz-range-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -moz-appearance: none;
      width: 14px;
      height: 14px;
      border: none;
      border-radius: 14px;
      background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%); }
    .jb-salary-filter .jb-double-range input[type="range"]::-ms-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -ms-appearance: none;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      border: 0;
      background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%); }
    .jb-salary-filter .jb-double-range input[type="range"]::-moz-range-track {
      position: relative;
      z-index: -1;
      background-color: black;
      border: 0; }
    .jb-salary-filter .jb-double-range input[type="range"]:last-of-type::-moz-range-track {
      -moz-appearance: none;
      background: none transparent;
      border: 0; }
    .jb-salary-filter .jb-double-range input[type="range"]::-moz-focus-outer {
      border: 0; }
