.jb-notice-message {
  position: fixed;
  padding: 0;
  color: #fff;
  text-align: center;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99999999;
  right: 30px;
  bottom: -200px;
  display: none; }
  .jb-notice-message .jb-notice-message-text {
    padding: 5px;
    display: block;
    font-size: 14px; }
  .jb-notice-message .jb-notice-message-progress {
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 5px; }
  .jb-notice-message.jb-notice-message-update .jb-notice-message-progress {
    border-bottom-color: rgba(110, 255, 0, 0.7); }
  .jb-notice-message.jb-notice-message-error .jb-notice-message-progress {
    border-bottom-color: rgba(255, 0, 0, 0.7); }
  .jb-notice-message.jb-notice-message-warning .jb-notice-message-progress {
    border-bottom-color: rgba(255, 204, 0, 0.7); }
