#jb-job-submission-form-wrapper .jb-form-section-title:first-child {
  margin-top: 0; }

.jb.jb-ui-m #jb-loginform p.login-username, .jb.jb-ui-m #jb-loginform p.login-password, .jb.jb-ui-l #jb-loginform p.login-username, .jb.jb-ui-l #jb-loginform p.login-password, .jb.jb-ui-xl #jb-loginform p.login-username, .jb.jb-ui-xl #jb-loginform p.login-password {
  margin: 0 0 15px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap; }
  .jb.jb-ui-m #jb-loginform p.login-username label, .jb.jb-ui-m #jb-loginform p.login-password label, .jb.jb-ui-l #jb-loginform p.login-username label, .jb.jb-ui-l #jb-loginform p.login-password label, .jb.jb-ui-xl #jb-loginform p.login-username label, .jb.jb-ui-xl #jb-loginform p.login-password label {
    width: 30%;
    margin: 0 10px 0 0;
    padding: 0; }
  .jb.jb-ui-m #jb-loginform p.login-username input, .jb.jb-ui-m #jb-loginform p.login-password input, .jb.jb-ui-l #jb-loginform p.login-username input, .jb.jb-ui-l #jb-loginform p.login-password input, .jb.jb-ui-xl #jb-loginform p.login-username input, .jb.jb-ui-xl #jb-loginform p.login-password input {
    width: calc( 70% - 10px);
    margin: 0; }

.jb.jb-ui-m #jb-loginform p.login-remember, .jb.jb-ui-l #jb-loginform p.login-remember, .jb.jb-ui-xl #jb-loginform p.login-remember {
  margin: 0 0 15px 0;
  padding: 0; }
  .jb.jb-ui-m #jb-loginform p.login-remember label, .jb.jb-ui-l #jb-loginform p.login-remember label, .jb.jb-ui-xl #jb-loginform p.login-remember label {
    margin: 0 0 0 calc( 30% + 10px); }

.jb.jb-ui-m #jb-loginform p.login-submit, .jb.jb-ui-l #jb-loginform p.login-submit, .jb.jb-ui-xl #jb-loginform p.login-submit {
  padding: 0 0 0 calc( 30% + 10px); }

.jb.jb-ui-s #jb-loginform p.login-username label:after, .jb.jb-ui-s #jb-loginform p.login-password label:after, .jb.jb-ui-xs #jb-loginform p.login-username label:after, .jb.jb-ui-xs #jb-loginform p.login-password label:after {
  content: ':'; }
