#jb-job-preview-wrapper {
  font-size: 14px;
  border: dashed 2px #ddd;
  padding: 0;
  margin-bottom: 10px; }
  #jb-job-preview-wrapper h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 0 15px; }
  #jb-job-preview-wrapper .jb-job-title-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 !important;
    padding: 15px !important;
    border-top: dashed 2px #ddd; }
    #jb-job-preview-wrapper .jb-job-title-info .jb-job-title {
      width: 100%;
      margin: 0 0 10px 0; }
      #jb-job-preview-wrapper .jb-job-title-info .jb-job-title h3 {
        margin-top: 0; }
    #jb-job-preview-wrapper .jb-job-title-info .jb-job-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      width: 100%;
      font-size: 14px;
      padding: 0 0 15px 0; }
      #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        width: 100%; }
        #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row .jb-job-types {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: wrap;
          width: 100%; }
          #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row .jb-job-types .jb-job-type {
            font-size: 12px;
            font-weight: bold;
            padding: 5px 9px;
            border: 0;
            border-radius: 3px; }
            #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row .jb-job-types .jb-job-type:not(:first-child) {
              margin: 0 0 0 5px; }
        #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row:not(:first-child) {
          margin: 5px 0 0 0; }
        #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row.jb-job-info-row-first > div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
          flex-wrap: nowrap;
          margin: 0 20px 5px 0; }
          #jb-job-preview-wrapper .jb-job-title-info .jb-job-info .jb-job-info-row.jb-job-info-row-first > div i {
            margin: 0 5px 0 0;
            color: #909090; }
  #jb-job-preview-wrapper .jb-job-company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd; }
    #jb-job-preview-wrapper .jb-job-company .jb-job-company-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      min-width: calc( 80% - 10px);
      margin: 0 10px 0 0; }
      #jb-job-preview-wrapper .jb-job-company .jb-job-company-info .jb-job-logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: 60px;
        margin: 0 20px 0 0; }
        #jb-job-preview-wrapper .jb-job-company .jb-job-company-info .jb-job-logo .jb-job-company-logo-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          border: 0;
          overflow: hidden; }
          #jb-job-preview-wrapper .jb-job-company .jb-job-company-info .jb-job-logo .jb-job-company-logo-wrapper .jb-job-company-logo {
            object-fit: fill;
            width: 60px;
            height: auto; }
      #jb-job-preview-wrapper .jb-job-company .jb-job-company-info .jb-job-company-title-tagline {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap; }
        #jb-job-preview-wrapper .jb-job-company .jb-job-company-info .jb-job-company-title-tagline .jb-job-company-name {
          font-size: 16px; }
        #jb-job-preview-wrapper .jb-job-company .jb-job-company-info .jb-job-company-title-tagline .jb-job-company-tagline {
          font-style: italic;
          font-size: 14px; }
      #jb-job-preview-wrapper .jb-job-company .jb-job-company-info.jb-job-no-logo .jb-job-company-title-tagline {
        width: 100%;
        margin: 0; }
    #jb-job-preview-wrapper .jb-job-company .jb-job-company-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
      max-width: 20%; }
      #jb-job-preview-wrapper .jb-job-company .jb-job-company-links a {
        font-size: 16px;
        width: 30px;
        height: 30px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        text-align: center;
        line-height: 30px;
        color: #000; }
        #jb-job-preview-wrapper .jb-job-company .jb-job-company-links a:hover, #jb-job-preview-wrapper .jb-job-company .jb-job-company-links a:active {
          color: rgba(0, 0, 0, 0.8); }
        #jb-job-preview-wrapper .jb-job-company .jb-job-company-links a:visited {
          color: #000; }
        #jb-job-preview-wrapper .jb-job-company .jb-job-company-links a:not(:last-child) {
          margin: 0 5px 0 0; }
  #jb-job-preview-wrapper .jb-job-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0 0 0; }
    #jb-job-preview-wrapper .jb-job-content .jb-job-filled-notice, #jb-job-preview-wrapper .jb-job-content .jb-job-expired-notice {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%;
      margin: 15px 0;
      padding: 10px 15px;
      background: #fbf3f1;
      color: #b6312f;
      border-radius: 5px;
      border: none; }
      #jb-job-preview-wrapper .jb-job-content .jb-job-filled-notice i, #jb-job-preview-wrapper .jb-job-content .jb-job-expired-notice i {
        margin: 0 10px 0 0; }
    #jb-job-preview-wrapper .jb-job-content .jb-job-content-separator {
      width: 100%;
      font-weight: bold;
      margin: 0 0 15px 0; }
      #jb-job-preview-wrapper .jb-job-content .jb-job-content-separator:not(:first-child) {
        margin: 15px 0; }
    #jb-job-preview-wrapper .jb-job-content .jb-job-content-section {
      width: 100%; }
  #jb-job-preview-wrapper > div {
    padding: 15px 10px !important;
    margin: 0 5px !important; }
  #jb-job-preview-wrapper.jb-ui-xs .jb-job-company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap; }
    #jb-job-preview-wrapper.jb-ui-xs .jb-job-company .jb-job-company-info {
      width: 100%;
      min-width: auto;
      margin: 0 0 10px 0; }
    #jb-job-preview-wrapper.jb-ui-xs .jb-job-company .jb-job-company-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%;
      max-width: none; }
