/*Helptip*/
.ui-tooltip.jb-helptip {
  padding: 8px;
  color: #eee !important;
  background: #333 !important;
  position: absolute;
  z-index: 1000000;
  max-width: 300px;
  font-size: 12px;
  border-radius: 5px;
  border: none !important;
  text-shadow: none !important; }

.jb-helptip {
  cursor: pointer;
  vertical-align: middle; }
  .jb-helptip:hover {
    opacity: 1; }
    .jb-helptip:hover:before {
      opacity: 0.8; }
  .jb-helptip.dashicons, .jb-helptip.dashicons:before {
    height: 22px; }
  .jb-helptip.dashicons-editor-help:before {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #333 !important; }
