@import "color"
@import "selectors"
@import "mixins"
@import "job/info"
@import "job/company"
@import "job/content"
@import "job/footer"

// WP native single page

.jb
  +job-info

  +job-company( 'standard' )

  .#{$job}filled-notice, .#{$job}expired-notice
    +flex( row, flex-start, baseline, nowrap )
    width: 100%
    margin: 15px 0
    padding: 10px 15px
    background: #fbf3f1
    color: #b6312f
    border-radius: 5px
    border: none
    i
      margin: 0 10px 0 0

  +job-footer()

  &.#{$prefix}ui-xs

    +job-company( 'xs' )

// Single job shortcode

.#{$prefix}single-job-wrapper
  margin-bottom: 20px

  .#{$job}title-info
    +flex( column, flex-start, stretch, nowrap )
    width: 100%
    margin: 0
    padding: 0
    .#{$job}title
      width: 100%
      margin: 0 0 10px 0

    +job-info

  +job-company( 'standard' )

  +job-content()

  +job-footer()

  &.#{$prefix}ui-xs
    +job-company( 'xs' )