// some individual styles for the post job form
// general styles are in forms.sass
@import "color"
@import "selectors"
@import "mixins"


##{$prefix}job-submission-form-wrapper
  .#{$prefix}form-section-title
    &:first-child
      margin-top: 0

.jb
  &.#{$prefix}ui-m, &.#{$prefix}ui-l, &.#{$prefix}ui-xl
    ##{$prefix}loginform
      p.login-username, p.login-password
        margin: 0 0 15px 0
        padding: 0
        +flex( row, flex-start, baseline, wrap )
        label
          width: 30%
          margin: 0 10px 0 0
          padding: 0
        input
          width: calc( 70% - 10px )
          margin: 0
      p.login-remember
        margin: 0 0 15px 0
        padding: 0
        label
          margin: 0 0 0 calc( 30% + 10px )
      p.login-submit
        padding: 0 0 0 calc( 30% + 10px )
  &.#{$prefix}ui-s, &.#{$prefix}ui-xs
    ##{$prefix}loginform
      p.login-username, p.login-password
        label
          &:after
            content: ':'
