@import "color"
@import "selectors"
@import "mixins"
@import "job/info"
@import "job/company"
@import "job/content"

##{$job}preview-wrapper
  font-size: 14px
  border: dashed 2px #ddd
  padding: 0
  margin-bottom: 10px
  h2
    margin-top: 10px
    margin-bottom: 25px
    padding: 0 15px

  .#{$job}title-info
    +flex( column, flex-start, stretch, nowrap )
    width: 100%
    margin: 0 !important
    padding: 15px !important
    border-top: dashed 2px #ddd
    .#{$job}title
      width: 100%
      margin: 0 0 10px 0
      h3
        margin-top: 0
    +job-info


  +job-company( 'standard' )

  +job-content()

  & > div
    padding: 15px 10px !important
    margin: 0 5px !important

  &.#{$prefix}ui-xs
    +job-company( 'xs' )