@import "color"
@import "selectors"
@import "mixins"

*[data-jb_tooltip]
  cursor: pointer

.#{$prefix}tooltip
  z-index: 200
  display: none
  background-color: $white
  padding: 10px
  +border-radius( 5px, 5px, 5px, 5px )
  +box-shadow
  word-wrap: break-word
##{$user-card}tooltip
  position: fixed
  width: 300px
  +border-box

.#{$user-card}wrapper
  +flex( column, flex-start, center, nowrap )
  margin: 0
  width: 100%
  font-size: 14px
  color: $link
  cursor: default
  +border-box
  .#{$user-card}avatar
    text-align: center
    margin: 0 0 10px 0
    a img
      border-radius: 100%
  .#{$user-card}content
    +flex( column, flex-start, center, nowrap )
    > :not(:last-child)
      margin: 0 0 5px 0
    .#{$user-card}name
      +flex( row, center, baseline, wrap )
      a
        +border-box
    .#{$user-card}tags
      +flex( row, space-between, stretch, nowrap )
      padding: 0
      .#{$user-card}tag
        border: 1px solid $border-color
        +border-radius( 3px,3px,3px,3px )
        font-size: 0.8em
        padding: 3px 5px
        margin-right: 3px
        line-height: 1
        cursor: default
    .#{$user-card}description
      text-align: center
    .#{$user-card}stats
      +flex( row, space-between, stretch, nowrap )
      span
        margin-right: 10px
      & > :last-child
        margin: 0