@import "../color"
@import "../selectors"
@import "../mixins"

$job-selector: '.#{$job}company'

=job-company( $size )

  @if $size == 'standard'

    #{$job-selector}
      +flex( row, space-between, center, wrap )
      padding: 15px 0
      border-top: 1px solid $border-color
      border-bottom: 1px solid $border-color
      .#{$job}company-info
        +flex( row, flex-start, center, nowrap )
        min-width: calc( 80% - 10px )
        margin: 0 10px 0 0
        .#{$job}logo
          +flex( row, flex-start, center, nowrap )
          width: 60px
          margin: 0 20px 0 0
          .#{$job}company-logo-wrapper
            +flex(row, center, center, nowrap)
            width: 60px
            height: 60px
            border-radius: 5px
            border: 0
            overflow: hidden
            .#{$job}company-logo
              object-fit: fill
              width: 60px
              height: auto
        .#{$job}company-title-tagline
          +flex( column, flex-start, stretch, nowrap )
          .#{$job}company-name
            font-size: 16px
          .#{$job}company-tagline
            font-style: italic
            font-size: 14px
        &.#{$job}no-logo
          .#{$job}company-title-tagline
            width: 100%
            margin: 0
      .#{$job}company-links
        +flex( row, flex-end, center, nowrap )
        max-width: 20%
        a
          font-size: 16px
          width: 30px
          height: 30px
          border: 1px solid $border-color
          border-radius: 3px
          text-align: center
          line-height: 30px
          color: $link
          &:hover,&:active
            color: $active-link
          &:visited
            color: $link
          &:not(:last-child)
            margin: 0 5px 0 0

  @else if $size == 'xs'

    #{$job-selector}
      +flex( column, flex-start, stretch, nowrap )
      .#{$job}company-info
        width: 100%
        min-width: auto
        margin: 0 0 10px 0
      .#{$job}company-links
        +flex( row, flex-start, baseline, nowrap )
        width: 100%
        max-width: none