@import "../color"
@import "../selectors"
@import "../mixins"

=job-content()
  .#{$job}content
    +flex( column, flex-start, stretch, nowrap )
    width: 100%
    padding: 15px 0 0 0
    .#{$job}filled-notice, .#{$job}expired-notice
      +flex( row, flex-start, baseline, nowrap )
      width: 100%
      margin: 15px 0
      padding: 10px 15px
      background: #fbf3f1
      color: #b6312f
      border-radius: 5px
      border: none
      i
        margin: 0 10px 0 0
    .#{$job}content-separator
      width: 100%
      font-weight: bold
      margin: 0 0 15px 0
      &:not(:first-child)
        margin: 15px 0
    .#{$job}content-section
      width: 100%