@import "../color"
@import "../selectors"
@import "../mixins"

=job-info()
  .#{$job}info
    +flex( column, flex-start, stretch, nowrap )
    width: 100%
    font-size: 14px
    padding: 0 0 15px 0
    .#{$job}info-row
      +flex( row, flex-start, baseline, wrap )
      width: 100%
      .#{$job}types
        +flex( row, flex-start, baseline, wrap )
        width: 100%
        .#{$job}type
          font-size: 12px
          font-weight: bold
          padding: 5px 9px
          border: 0
          border-radius: 3px
          &:not(:first-child)
            margin: 0 0 0 5px
      &:not(:first-child)
        margin: 5px 0 0 0
      &.#{$job}info-row-first
        & > div
          +flex( row, flex-start, baseline, nowrap )
          margin: 0 20px 5px 0
          i
            margin: 0 5px 0 0
            color: $icon-color